/*======================================

RESOURCE SCRIPT

By Simon Mitchell (96878291)

  This resource script contains resource information
for GUI elements used by the application.

======================================*/

#define IDC_BWCCRADIO1	101
#define IDD_DIALOG1     1
#define IDI_ICON1       1
#define IDD_DIALOG2     2
#define IDD_DIALOG3     3
#define IDC_STATICFRAME1	101
#define IDC_STATICTEXT1	102
#define IDC_STATICTEXT2	103
#define IDC_STATICTEXT3	104
#define IDD_DIALOG4     4
#define IDC_GROUPBOX1	101
#define IDC_GROUPBOX2	102
#define IDC_EDIT1	105
#define IDC_EDIT2	108
#define IDC_BIPICT1	107
#define CM_FILEOPEN	11842
#define CM_SEPARATOR	11842
#define CM_FILEITEM2	18874
#define CM_FILEITEM1	18873
#define CM_EDITITEM1	18873
#include <owl/inputdia.rc>
#include <owl/except.rc>

#define CM_FILENEW    201
#define CM_ABOUT      202
#define CM_SETUP      203

#ifdef RC_INVOKED 
#ifndef WORKSHOP_INVOKED
# include <windows.h>
#endif

COMMANDS MENU 
{
 POPUP "&File"
 {
  MENUITEM "&Open ...", CM_FILEOPEN
  MENUITEM SEPARATOR, 0
  MENUITEM "S&etup ...", CM_SETUP
  MENUITEM SEPARATOR, 0
  MENUITEM "E&xit", CM_EXIT
 }

 POPUP "&Edit"
 {
  MENUITEM "&Undo", CM_EDITUNDO
  MENUITEM "Cu&t", CM_EDITCUT
  MENUITEM "&Copy", CM_EDITCOPY
  MENUITEM "&Paste", CM_EDITPASTE
  MENUITEM "C&lear", CM_EDITCLEAR
 }

 POPUP "&Help"
 {
  MENUITEM "&About", CM_ABOUT
 }

}

IDI_ICON1 ICON 
{
 '00 00 01 00 01 00 B3 34 10 00 00 00 00 00 F8 17'
 '00 00 16 00 00 00 28 00 00 00 B3 00 00 00 68 00'
 '00 00 01 00 04 00 00 00 00 00 90 17 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 80 80 00 00 80 00 80 00 FF 00 00 00 00 80'
 '80 00 00 FF 00 00 00 00 FF 00 C0 DC C0 00 A6 CA'
 'F0 00 FF FF 00 00 FF 00 FF 00 FF 80 80 00 00 FF'
 'FF 00 80 FF 80 00 80 80 FF 00 FF FF FF 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF 0F FF FF FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 '0F FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF 0F FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF F0 FF FF F0 FF FF 0F F0 FF 0F'
 'FF 0F FF FF FF FF FF FF FF FF F0 FF FF FF FF F0'
 'FF FF 0F F0 FF FF FF FF FF FF FF FF F0 0F F0 FF'
 '0F F0 FF FF FF FF FF 0F FF FF F0 FF FF FF FF FF'
 'FF FF F0 FF FF FF F0 FF 0F FF FF FF 0F F0 FF FF'
 'FF 0F FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF F0 FF FF FF FF FF FF F0 FF FF 0F FF F0 FF'
 'FF F0 FF FF FF FF FF 0F FF FF FF F0 FF 0F FF FF'
 'FF FF FF FF 0F FF FF 0F F0 FF FF FF 0F FF FF FF'
 'FF FF 0F FF FF FF F0 FF F0 0F FF FF FF F0 FF FF'
 '0F F0 F0 FF FF F0 FF FF F0 FF 00 FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 F0 FF FF FF FF FF FF FF FF FF 0F FF'
 'FF FF FF FF F0 FF FF FF FF 0F FF FF FF FF FF 0F'
 '0F FF 0F F0 FF FF FF FF FF FF FF FF FF 0F 0F FF'
 'FF FF FF FF FF FF FF 0F FF F0 FF FF F0 FF FF FF'
 'F0 F0 FF FF FF F0 FF 0F FF F0 FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF 0F 0F F0'
 'FF FF 0F F0 F0 F0 FF 0F FF FF 0F 0F FF FF FF FF'
 'F0 FF FF FF FF 00 F0 FF 0F FF FF 0F F0 FF 0F FF'
 '0F FF FF 0F FF FF 0F F0 FF 0F F0 F0 FF FF FF 0F'
 'FF 0F FF F0 FF FF 0F FF F0 0F FF 0F F0 F0 FF FF'
 'FF FF FF FF F0 FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF 0F FF FF 0F FF FF FF 0F FF'
 '0F F0 FF FF 0F FF FF 0F FF FF F0 FF F0 0F FF FF'
 '0F 0F FF FF 00 FF 00 FF FF FF 0F FF F0 FF F0 FF'
 'F0 0F 0F FF F0 FF 0F FF FF FF FF FF FF FF 0F FF'
 '00 FF FF 0F F0 F0 FF FF 0F FF FF FF 0F FF F0 FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 0F FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF 0F FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF F0 FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF 0F FF'
 'FF FF FF FF FF FF 0F FF FF FF FF FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF 00'
 '0F FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF 0F FF 00 FF FF FF FF F0 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF F0 00 0F FF FF FF FF FF BF FF FF FF FF FF'
 'FF FF 0F FF FF FF FF FF FF FF FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF F0 0F FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF F0 0F FF 0F FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF 00 00 FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF 00 00'
 '00 00 FF FF FF FF F0 00 FF FF FF BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF 0F FF F0 FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF BF F0 0F FF FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF F0 00 00 00 0B 0F 00'
 '00 B0 00 F0 FF FF FF 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 3B FF FF 00 00 0F 00 FF 00 F0 0F F0'
 '0F FF 00 00 F0 0F FF 00 00 FF 00 F0 0F FF 0B FF'
 '00 FF FF 00 00 00 0F 00 00 FF 0F F0 0F F0 00 0F'
 'F0 FF 00 00 0F 00 00 F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF F0 0F FB FF FF FF 00 00 FF FF FF 00'
 'FF FF FF 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '3B FF F0 0F F0 0F 00 FF 00 F0 0F F0 00 FF 00 F0'
 'F0 0F FF 0F F0 FF 00 F0 0F F0 00 FF BF FF FF 00'
 'FF F0 0F 00 F0 0B 0F F0 0F 00 F0 0F F0 FF 0F F0'
 '0F 00 F0 00 00 00 FF FF FF FF FF FF FF FF FF FF'
 '00 F0 00 00 00 BB BB BF 0F B0 00 0F FF FF FF 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 3B FF F0 0F'
 'FF 0F 00 FF 00 F0 0F F0 00 FF 00 00 F0 0F FF F0'
 '00 FF 00 F0 0F F0 00 FF FF FF FF 00 FF FF 0B 00'
 'BB FF 0F F0 0F 00 FB 0F F0 F0 0F F0 0F 0F F0 00'
 '00 00 FF FF FF FF FF FF FF FF FF F0 00 0F F0 00'
 '0B BB 00 00 00 00 BB F0 FF FF FF 33 33 33 33 33'
 '33 33 33 33 33 33 33 33 3B FF F0 0F FF 0F 00 FF'
 '00 F0 0F 00 F0 FF 00 00 F0 0F FF 00 FF FF 00 F0'
 '0F F0 F0 0F FF FF FF 00 FF B0 0F 00 00 0B 0F F0'
 '0F 00 F0 0F F0 F0 0F F0 0F 0F F0 00 00 00 FF FF'
 'FF FF FF FF FF FF FF F0 FB 00 B0 00 00 B0 BF 0F'
 '00 00 0F 00 FF FF FF 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 3B FF F0 0F FF 0F 00 0F 00 F0 0F 00'
 'F0 0F 00 F0 F0 00 FF 00 B0 FF 00 F0 0F 00 F0 0F'
 'FF FF FF 00 00 00 FF 00 F0 FB 00 F0 0F 00 F0 0F'
 'F0 F0 00 00 0F 00 F0 00 00 00 FF FF FF FF FF FF'
 'FF FF FF F0 F0 B0 00 0F F0 F0 FF FF F0 FF FF F0'
 'FF FF FF 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '3B FF F0 0F FF 0F B0 00 0F F0 0F 0F FB 0F F0 00'
 'FF 00 0F F0 0B FF 0B F0 0F 0F FF 0F FF FF FF 00'
 'FF F0 0F F0 00 FF 00 00 FF F0 00 0F F0 FF 00 00'
 'BF F0 00 F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 '00 00 BF FF 00 00 00 0F 00 00 FF F0 FF FF FF 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 3B FF F0 0F'
 'FF 0F FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 0F FF FF FF FF FF FF 00 FF F0 0F FF'
 'FF FF FF FF FF FF F0 0F FF FF FF FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF 00 00 FF FF'
 '0F F0 00 FF 00 F0 0F 0F FF FF FF 33 33 33 33 33'
 '33 33 33 33 33 33 33 33 3B FF F0 0F FF 0F FF FF'
 'FF F0 0F FF FF FF FF FF FF FF FF FF FF FF 00 FF'
 'FF FF FF FF FF FF FF B0 00 00 FF FF FF FF FF FF'
 'FF FF FF 0F F0 FF FF FF FF FF FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF F0 00 F0 00 0F FF 00 00'
 'FF 00 00 0F FF FF FF 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 3B FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF F0 FF F0 0F 0F FF 0B F0 00 FF FF'
 'FF FF FF 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '3B BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB B0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF 0F FF 00 FF FF 00 0F FF FF FF FF FF FF 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 30'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF 00 F0 00'
 'B0 FF F0 00 BF FF FF FF FF FF FF BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB B0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF 00 FF 00 00 FF F0 00'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'F0 B0 0F FF FF 00 0F 00 0F 0F 00 F0 FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF F0 F0 0F 00'
 'F0 0F FF F0 0F 00 00 00 FF FF FF FF FF FF FF 00'
 '00 00 00 00 00 00 0F 00 00 0F FF FF FF F0 00 00'
 'FF FF FF FF FF FF 00 00 0F FF FF FF 00 00 0F FF'
 'FF F0 00 00 FF FF FF F0 00 00 00 00 FF FF FF F0'
 '00 00 00 00 00 00 0F FF FF 00 00 00 00 00 00 00'
 '00 00 FF FF FF FF FF F0 00 00 F0 00 00 00 FF F0'
 '0F F0 00 00 BF FF FF FF FF FF FF 00 00 00 00 00'
 '00 00 0F F0 00 0F FF FF FF F0 00 0F FF FF FF FF'
 'FF FF 00 00 0F FF FF FF F0 00 0F FF FF 00 00 0F'
 'FF FF F0 00 00 00 00 00 00 FF FF F0 00 00 00 00'
 '00 00 00 FF FF 00 00 00 00 00 00 00 00 00 FF FF'
 'FF FF FF 00 F0 00 00 00 00 FF 0F FF 00 F0 00 F0'
 '0F FF FF FF FF FF FF 00 00 00 00 00 00 00 0F F0'
 '00 0F FF FF FF 00 00 0F FF FF FF FF FF FF 00 00'
 '0F FF FF FF F0 00 0F FF FF 00 00 0F FF FF 00 00'
 '00 00 00 00 00 0F FF F0 00 00 00 00 00 00 00 0F'
 'FF 00 00 00 00 00 00 00 00 00 FF FF FF FF FF 00'
 '00 00 0F FF 00 0F FF 0F 00 00 00 00 FF FF FF FF'
 'FF FF FF 00 00 0B FB BB BB BB 0F FB 00 00 00 00'
 '00 00 00 0F FF FF FF FF FF FF 00 00 0F FF FF FF'
 'F0 00 0F FF F0 00 00 FF FF F0 00 00 00 BF F0 00'
 '00 0F FF F0 00 0F FF FF FF 00 00 0F FF 00 00 0F'
 'FF FB FF 00 00 00 FF FF FF FF FF F0 0F 00 0F FF'
 '00 F0 0F 0F 00 00 00 00 0F FF FF FF FF FF FF 00'
 '00 0F FF FF FF FF FF FF 00 00 00 00 00 00 00 FF'
 'FF FF FF FF FF FF 00 00 0F FF FF FF F0 00 0F FF'
 '00 00 0F FF FF F0 00 00 FF FF FF 00 00 00 FF F0'
 '00 0F FF FF FF F0 00 0F FF 00 00 0F FF FF FF F0'
 '00 00 FF FF FF FF FF FF 00 00 0F FF 00 0F 00 00'
 'F0 00 00 00 00 FF FF FF FF FF FF 00 00 0F FF FF'
 'FF FF FF FF 00 00 00 00 00 00 00 FF FF FF FF FF'
 'FF FF 00 00 0F FF FF FF F0 00 00 B0 00 00 0F FF'
 'FF 00 00 0F FF FF FF F0 00 00 FF F0 00 0F FF FF'
 'FF 00 00 0F FF 00 00 0F FF FF FF F0 00 00 FF FF'
 'FF FF FF FF F0 00 00 00 00 0B FF B0 F0 00 00 0F'
 'F0 00 FF FB 0F FF FF 00 00 0F FF FF FF FF FF FF'
 'F0 00 0F FF F0 00 0F FF FF FF FF FF FF FF 00 00'
 '0F FF FF FF F0 00 00 00 00 00 00 0F FF 00 00 0F'
 'FF FF FF FF 00 00 FF F0 00 00 00 00 00 00 00 FF'
 'FF 00 00 00 00 00 0F F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF F0 0F 0F F0 FF 00 FF 0B F0 FF 00 0F'
 'FF FF FF 00 00 0F FF FF FF FF FF FF F0 00 0F FF'
 '00 00 0F FF FF FF FF FF FF FF 00 00 0F FF FF FF'
 'F0 00 00 00 00 00 00 00 FF 00 00 0F FF FF FF FF'
 '00 00 FF F0 00 00 00 00 00 00 0F FF FF 00 00 00'
 '00 00 0F F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF 0B FF F0 0F 0F FB BF F0 FF B0 F0 0F FF FF 00'
 '00 0F FF FF FF FF FF FF F0 00 0F FF 00 00 0F FF'
 'FF FF FF FF FF FF 00 00 0F FF FF FF F0 00 00 00'
 '00 00 00 00 FF 00 00 0F FF FF FF F0 00 00 FF F0'
 '00 00 00 00 00 00 0F FF FF 00 00 00 00 00 0F F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF BF FF F0'
 'FF 00 00 FF F0 FF FF 0B FF FF FF 00 00 0F FF FF'
 'FF FF FF FF FF 00 00 FF 00 00 FF FF FF FF FF FF'
 'FF FF 00 00 0F FF FF FF F0 00 0F FF FF FF 00 00'
 '0F 00 00 0F FF FF FF F0 00 00 FF F0 00 00 FF FF'
 'F0 00 00 FF FF 00 00 0F FF FF 0F F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF F0 FF FF 0F F0 B0 FF'
 'FF FF F0 0F FF FF FF 00 00 0F FF FF FF FF FF FF'
 'FF 00 00 F0 00 00 FF FF FF FF FF FF FF FF 00 00'
 '0F FF FF FF F0 00 0F FF FF FF 00 00 0F F0 00 00'
 'FF FF FF 00 00 00 FF F0 00 0F FF FF FF 00 00 0F'
 'FF 00 00 0F FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF 0F FF 0F FF 00 00 00 00 F0 FF'
 'FF FF FF 00 00 0F FF FF FF FF FF FF FF F0 00 00'
 '00 0F FF FF FF FF FF 00 00 00 00 00 00 00 00 FF'
 'F0 00 00 FF FF 00 00 00 FF F0 00 00 00 00 00 00'
 '00 0F FF F0 00 0F FF FF F0 00 00 0F FF 00 00 00'
 '00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FB 0F F0 FF BF BB F0 FF 0F FF FF FF FF 00'
 '00 0F FF FF FF FF FF FF FF F0 00 00 00 0F FF FF'
 'FF FF FF 00 00 00 00 00 00 00 00 FF F0 00 00 00'
 '00 00 00 00 FF FF 00 00 00 00 00 00 00 FF FF F0'
 '00 00 00 00 00 00 00 FF FF 00 00 00 00 00 00 00'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF F0'
 'FF 0F F0 F0 FF 0F FF FF FF FF FF 00 00 0F FF FF'
 'FF FF FF FF FF F0 00 00 00 0F FF FF FF FF FF 00'
 '00 00 00 00 00 00 00 FF F0 00 00 00 00 00 00 0B'
 'FF FF F0 00 00 00 00 00 0F FF FF F0 00 00 00 00'
 '00 00 00 FF FF 00 00 00 00 00 00 00 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF 0F 0F FF 00'
 '0F F0 FF FF FF FF FF 00 00 0F FF FF FF FF FF FF'
 'FF F0 00 00 00 0F FF FF FF FF FF 00 00 00 00 00'
 '00 00 00 FF 00 00 00 00 00 00 00 FF FF FF FF F0'
 '00 00 00 0B FF FF FF F0 00 00 00 00 00 00 FF FF'
 'FF 00 00 00 00 00 00 00 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF F0 F0 FF 00 00 F0 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 0F FF 0F F0 F0 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF F0 FF 0F FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF F0 0F'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF F0 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 10 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 10 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 1F 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 1F 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 1F 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 1F 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 1F 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 1F 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 10 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 1F 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00'
}

STRINGTABLE 
{
 CM_EXIT, "Exit the program"
 CM_ABOUT, "About the program"
}


IDD_DIALOG2 DIALOG 0, 0, 181, 99
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About ..."
FONT 11, "MS Sans Serif"
{
 CONTROL IDI_ICON1, 1, "STATIC", SS_ICON | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE, 48, 4, 90, 26
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 84, 44, 12
 CONTROL "Frame1", IDC_STATICFRAME1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 3, 32, 173, 49
 CONTROL "Text evolution program", IDC_STATICTEXT1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 21, 35, 147, 7
 CONTROL "Written by Simon Mitchell (96878291)", IDC_STATICTEXT2, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 9, 46, 163, 11
 CONTROL "Major Projects, 1998 - La Trobe University, Bendigo.", IDC_STATICTEXT3, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 6, 60, 166, 11
}


IDD_DIALOG3 DIALOG 0, 0, 255, 169
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Evolution report"
FONT 10, "MS Sans Serif"
{
 CONTROL "Frame1", IDC_STATICFRAME1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 3, 4, 249, 161
}

IDD_DIALOG4 DIALOG 0, 0, 255, 236
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Evolution settings"
FONT 8, "MS Sans Serif"
{
}



#endif  // RC_INVOKED

