/****************************************************************************


part_b.rc

produced by Borland Resource Workshop


*****************************************************************************/

#define CM_NEW	11848
#define CM_FILEITEM3	18875
#define CM_MAXOFFSPRING	11847
#define CM_SETUPITEM1	18875
#define IDD_DIALOG5	5
#define IDD_OFFSPRING	5
#define CM_OFFSPRING	11846
#define CM_STATISTICSITEM3	18875
#define CM_GENEMUTATIONS	11845
#define IDD_DIALOG4	4
#define IDD_GENEVALUES	4
#define IDD_DIALOG3	3
#define IDD_STATISTICS	3
#define CM_ITEM2	18875
#define CM_STATS	11845
#define CM_POPUPITEM1	18875
#define CM_COLORS	11843
#define CM_ITEM1	18875
#define CM_POPUPITEM4	18876
#define CM_STOPRECORD	11844
#define CM_STOPRECORDING	11843
#define CM_POPUPITEM3	18875
#define CM_STARTRECORD	11842
#define CM_POPUPITEM2	18875
#define CM_SEPARATOR	11843
#define CM_FILEITEM5	18876
#define CM_FILEITEM4	18875
#define CM_OPENPARENT   18874
#define CM_SAVEPARENT   18873
#define CM_SETUP	11842
#define CM_FILEITEM1	18873
#define IDD_DIALOG2	2
#define IDD_DIALOG1	1
#define IDC_STATICFRAME1	101
#define IDC_STATICTEXT1	102
#define IDC_STATICTEXT2	103
#define IDC_STATICTEXT3	104
#define IDC_STATICBITMAP1	101
#define IDI_ICON1	1
#define IDD_INTERFACE 1
#define CM_ABOUT 103
#define CM_EXIT 104
#ifdef RC_INVOKED 
#ifndef WORKSHOP_INVOKED
# include <windows.h>
#endif

COMMANDS MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New", CM_NEW
  MENUITEM SEPARATOR
  MENUITEM "Open parent", CM_OPENPARENT
  MENUITEM "Save parent", CM_SAVEPARENT
  MENUITEM SEPARATOR
  MENUITEM "E&xit", CM_EXIT
 }

 MENUITEM SEPARATOR
 POPUP "&Setup"
 {
  MENUITEM "&Maximum Offspring", CM_MAXOFFSPRING
  MENUITEM "Use &Colours", CM_COLORS, CHECKED
 }

 MENUITEM SEPARATOR
 POPUP "S&tatistics"
 {
  MENUITEM "T&otal gene mutations", CM_GENEMUTATIONS
  MENUITEM "O&ffspring selected", CM_OFFSPRING
 }

 MENUITEM SEPARATOR
 POPUP "&Animation log"
 {
  MENUITEM "&Start recording", CM_STARTRECORD
  MENUITEM "S&top recording", CM_STOPRECORD
 }

 MENUITEM SEPARATOR
 POPUP "&Help"
 {
  MENUITEM "&About", CM_ABOUT
 }

}

IDI_ICON1 ICON 
{
 '00 00 01 00 01 00 B3 34 10 00 00 00 00 00 F8 17'
 '00 00 16 00 00 00 28 00 00 00 B3 00 00 00 68 00'
 '00 00 01 00 04 00 00 00 00 00 90 17 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 80 80 00 00 80 00 80 00 FF 00 00 00 00 80'
 '80 00 00 FF 00 00 00 00 FF 00 C0 DC C0 00 A6 CA'
 'F0 00 FF FF 00 00 FF 00 FF 00 FF 80 80 00 00 FF'
 'FF 00 80 FF 80 00 80 80 FF 00 FF FF FF 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF 0F FF FF FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 '0F FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF 0F FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF F0 FF FF F0 FF FF 0F F0 FF 0F'
 'FF 0F FF FF FF FF FF FF FF FF F0 FF FF FF FF F0'
 'FF FF 0F F0 FF FF FF FF FF FF FF FF F0 0F F0 FF'
 '0F F0 FF FF FF FF FF 0F FF FF F0 FF FF FF FF FF'
 'FF FF F0 FF FF FF F0 FF 0F FF FF FF 0F F0 FF FF'
 'FF 0F FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF F0 FF FF FF FF FF FF F0 FF FF 0F FF F0 FF'
 'FF F0 FF FF FF FF FF 0F FF FF FF F0 FF 0F FF FF'
 'FF FF FF FF 0F FF FF 0F F0 FF FF FF 0F FF FF FF'
 'FF FF 0F FF FF FF F0 FF F0 0F FF FF FF F0 FF FF'
 '0F F0 F0 FF FF F0 FF FF F0 FF 00 FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 F0 FF FF FF FF FF FF FF FF FF 0F FF'
 'FF FF FF FF F0 FF FF FF FF 0F FF FF FF FF FF 0F'
 '0F FF 0F F0 FF FF FF FF FF FF FF FF FF 0F 0F FF'
 'FF FF FF FF FF FF FF 0F FF F0 FF FF F0 FF FF FF'
 'F0 F0 FF FF FF F0 FF 0F FF F0 FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF 0F 0F F0'
 'FF FF 0F F0 F0 F0 FF 0F FF FF 0F 0F FF FF FF FF'
 'F0 FF FF FF FF 00 F0 FF 0F FF FF 0F F0 FF 0F FF'
 '0F FF FF 0F FF FF 0F F0 FF 0F F0 F0 FF FF FF 0F'
 'FF 0F FF F0 FF FF 0F FF F0 0F FF 0F F0 F0 FF FF'
 'FF FF FF FF F0 FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF 0F FF FF 0F FF FF FF 0F FF'
 '0F F0 FF FF 0F FF FF 0F FF FF F0 FF F0 0F FF FF'
 '0F 0F FF FF 00 FF 00 FF FF FF 0F FF F0 FF F0 FF'
 'F0 0F 0F FF F0 FF 0F FF FF FF FF FF FF FF 0F FF'
 '00 FF FF 0F F0 F0 FF FF 0F FF FF FF 0F FF F0 FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 0F FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF 0F FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF F0 FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF 0F FF'
 'FF FF FF FF FF FF 0F FF FF FF FF FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF 00'
 '0F FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF 0F FF 00 FF FF FF FF F0 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF F0 00 0F FF FF FF FF FF BF FF FF FF FF FF'
 'FF FF 0F FF FF FF FF FF FF FF FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF F0 0F FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF F0 0F FF 0F FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF 00 00 FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF 00 00'
 '00 00 FF FF FF FF F0 00 FF FF FF BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF 0F FF F0 FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF BF F0 0F FF FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF F0 00 00 00 0B 0F 00'
 '00 B0 00 F0 FF FF FF 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 3B FF FF 00 00 0F 00 FF 00 F0 0F F0'
 '0F FF 00 00 F0 0F FF 00 00 FF 00 F0 0F FF 0B FF'
 '00 FF FF 00 00 00 0F 00 00 FF 0F F0 0F F0 00 0F'
 'F0 FF 00 00 0F 00 00 F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF F0 0F FB FF FF FF 00 00 FF FF FF 00'
 'FF FF FF 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '3B FF F0 0F F0 0F 00 FF 00 F0 0F F0 00 FF 00 F0'
 'F0 0F FF 0F F0 FF 00 F0 0F F0 00 FF BF FF FF 00'
 'FF F0 0F 00 F0 0B 0F F0 0F 00 F0 0F F0 FF 0F F0'
 '0F 00 F0 00 00 00 FF FF FF FF FF FF FF FF FF FF'
 '00 F0 00 00 00 BB BB BF 0F B0 00 0F FF FF FF 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 3B FF F0 0F'
 'FF 0F 00 FF 00 F0 0F F0 00 FF 00 00 F0 0F FF F0'
 '00 FF 00 F0 0F F0 00 FF FF FF FF 00 FF FF 0B 00'
 'BB FF 0F F0 0F 00 FB 0F F0 F0 0F F0 0F 0F F0 00'
 '00 00 FF FF FF FF FF FF FF FF FF F0 00 0F F0 00'
 '0B BB 00 00 00 00 BB F0 FF FF FF 33 33 33 33 33'
 '33 33 33 33 33 33 33 33 3B FF F0 0F FF 0F 00 FF'
 '00 F0 0F 00 F0 FF 00 00 F0 0F FF 00 FF FF 00 F0'
 '0F F0 F0 0F FF FF FF 00 FF B0 0F 00 00 0B 0F F0'
 '0F 00 F0 0F F0 F0 0F F0 0F 0F F0 00 00 00 FF FF'
 'FF FF FF FF FF FF FF F0 FB 00 B0 00 00 B0 BF 0F'
 '00 00 0F 00 FF FF FF 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 3B FF F0 0F FF 0F 00 0F 00 F0 0F 00'
 'F0 0F 00 F0 F0 00 FF 00 B0 FF 00 F0 0F 00 F0 0F'
 'FF FF FF 00 00 00 FF 00 F0 FB 00 F0 0F 00 F0 0F'
 'F0 F0 00 00 0F 00 F0 00 00 00 FF FF FF FF FF FF'
 'FF FF FF F0 F0 B0 00 0F F0 F0 FF FF F0 FF FF F0'
 'FF FF FF 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '3B FF F0 0F FF 0F B0 00 0F F0 0F 0F FB 0F F0 00'
 'FF 00 0F F0 0B FF 0B F0 0F 0F FF 0F FF FF FF 00'
 'FF F0 0F F0 00 FF 00 00 FF F0 00 0F F0 FF 00 00'
 'BF F0 00 F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 '00 00 BF FF 00 00 00 0F 00 00 FF F0 FF FF FF 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 3B FF F0 0F'
 'FF 0F FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 0F FF FF FF FF FF FF 00 FF F0 0F FF'
 'FF FF FF FF FF FF F0 0F FF FF FF FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF 00 00 FF FF'
 '0F F0 00 FF 00 F0 0F 0F FF FF FF 33 33 33 33 33'
 '33 33 33 33 33 33 33 33 3B FF F0 0F FF 0F FF FF'
 'FF F0 0F FF FF FF FF FF FF FF FF FF FF FF 00 FF'
 'FF FF FF FF FF FF FF B0 00 00 FF FF FF FF FF FF'
 'FF FF FF 0F F0 FF FF FF FF FF FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF F0 00 F0 00 0F FF 00 00'
 'FF 00 00 0F FF FF FF 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 3B FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF F0 FF F0 0F 0F FF 0B F0 00 FF FF'
 'FF FF FF 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '3B BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB B0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF 0F FF 00 FF FF 00 0F FF FF FF FF FF FF 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33'
 '33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 30'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF 00 F0 00'
 'B0 FF F0 00 BF FF FF FF FF FF FF BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB'
 'BB BB BB BB BB BB BB BB BB BB BB B0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF 00 FF 00 00 FF F0 00'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'F0 B0 0F FF FF 00 0F 00 0F 0F 00 F0 FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF F0 F0 0F 00'
 'F0 0F FF F0 0F 00 00 00 FF FF FF FF FF FF FF 00'
 '00 00 00 00 00 00 0F 00 00 0F FF FF FF F0 00 00'
 'FF FF FF FF FF FF 00 00 0F FF FF FF 00 00 0F FF'
 'FF F0 00 00 FF FF FF F0 00 00 00 00 FF FF FF F0'
 '00 00 00 00 00 00 0F FF FF 00 00 00 00 00 00 00'
 '00 00 FF FF FF FF FF F0 00 00 F0 00 00 00 FF F0'
 '0F F0 00 00 BF FF FF FF FF FF FF 00 00 00 00 00'
 '00 00 0F F0 00 0F FF FF FF F0 00 0F FF FF FF FF'
 'FF FF 00 00 0F FF FF FF F0 00 0F FF FF 00 00 0F'
 'FF FF F0 00 00 00 00 00 00 FF FF F0 00 00 00 00'
 '00 00 00 FF FF 00 00 00 00 00 00 00 00 00 FF FF'
 'FF FF FF 00 F0 00 00 00 00 FF 0F FF 00 F0 00 F0'
 '0F FF FF FF FF FF FF 00 00 00 00 00 00 00 0F F0'
 '00 0F FF FF FF 00 00 0F FF FF FF FF FF FF 00 00'
 '0F FF FF FF F0 00 0F FF FF 00 00 0F FF FF 00 00'
 '00 00 00 00 00 0F FF F0 00 00 00 00 00 00 00 0F'
 'FF 00 00 00 00 00 00 00 00 00 FF FF FF FF FF 00'
 '00 00 0F FF 00 0F FF 0F 00 00 00 00 FF FF FF FF'
 'FF FF FF 00 00 0B FB BB BB BB 0F FB 00 00 00 00'
 '00 00 00 0F FF FF FF FF FF FF 00 00 0F FF FF FF'
 'F0 00 0F FF F0 00 00 FF FF F0 00 00 00 BF F0 00'
 '00 0F FF F0 00 0F FF FF FF 00 00 0F FF 00 00 0F'
 'FF FB FF 00 00 00 FF FF FF FF FF F0 0F 00 0F FF'
 '00 F0 0F 0F 00 00 00 00 0F FF FF FF FF FF FF 00'
 '00 0F FF FF FF FF FF FF 00 00 00 00 00 00 00 FF'
 'FF FF FF FF FF FF 00 00 0F FF FF FF F0 00 0F FF'
 '00 00 0F FF FF F0 00 00 FF FF FF 00 00 00 FF F0'
 '00 0F FF FF FF F0 00 0F FF 00 00 0F FF FF FF F0'
 '00 00 FF FF FF FF FF FF 00 00 0F FF 00 0F 00 00'
 'F0 00 00 00 00 FF FF FF FF FF FF 00 00 0F FF FF'
 'FF FF FF FF 00 00 00 00 00 00 00 FF FF FF FF FF'
 'FF FF 00 00 0F FF FF FF F0 00 00 B0 00 00 0F FF'
 'FF 00 00 0F FF FF FF F0 00 00 FF F0 00 0F FF FF'
 'FF 00 00 0F FF 00 00 0F FF FF FF F0 00 00 FF FF'
 'FF FF FF FF F0 00 00 00 00 0B FF B0 F0 00 00 0F'
 'F0 00 FF FB 0F FF FF 00 00 0F FF FF FF FF FF FF'
 'F0 00 0F FF F0 00 0F FF FF FF FF FF FF FF 00 00'
 '0F FF FF FF F0 00 00 00 00 00 00 0F FF 00 00 0F'
 'FF FF FF FF 00 00 FF F0 00 00 00 00 00 00 00 FF'
 'FF 00 00 00 00 00 0F F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF F0 0F 0F F0 FF 00 FF 0B F0 FF 00 0F'
 'FF FF FF 00 00 0F FF FF FF FF FF FF F0 00 0F FF'
 '00 00 0F FF FF FF FF FF FF FF 00 00 0F FF FF FF'
 'F0 00 00 00 00 00 00 00 FF 00 00 0F FF FF FF FF'
 '00 00 FF F0 00 00 00 00 00 00 0F FF FF 00 00 00'
 '00 00 0F F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF 0B FF F0 0F 0F FB BF F0 FF B0 F0 0F FF FF 00'
 '00 0F FF FF FF FF FF FF F0 00 0F FF 00 00 0F FF'
 'FF FF FF FF FF FF 00 00 0F FF FF FF F0 00 00 00'
 '00 00 00 00 FF 00 00 0F FF FF FF F0 00 00 FF F0'
 '00 00 00 00 00 00 0F FF FF 00 00 00 00 00 0F F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF BF FF F0'
 'FF 00 00 FF F0 FF FF 0B FF FF FF 00 00 0F FF FF'
 'FF FF FF FF FF 00 00 FF 00 00 FF FF FF FF FF FF'
 'FF FF 00 00 0F FF FF FF F0 00 0F FF FF FF 00 00'
 '0F 00 00 0F FF FF FF F0 00 00 FF F0 00 00 FF FF'
 'F0 00 00 FF FF 00 00 0F FF FF 0F F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF F0 FF FF 0F F0 B0 FF'
 'FF FF F0 0F FF FF FF 00 00 0F FF FF FF FF FF FF'
 'FF 00 00 F0 00 00 FF FF FF FF FF FF FF FF 00 00'
 '0F FF FF FF F0 00 0F FF FF FF 00 00 0F F0 00 00'
 'FF FF FF 00 00 00 FF F0 00 0F FF FF FF 00 00 0F'
 'FF 00 00 0F FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF 0F FF 0F FF 00 00 00 00 F0 FF'
 'FF FF FF 00 00 0F FF FF FF FF FF FF FF F0 00 00'
 '00 0F FF FF FF FF FF 00 00 00 00 00 00 00 00 FF'
 'F0 00 00 FF FF 00 00 00 FF F0 00 00 00 00 00 00'
 '00 0F FF F0 00 0F FF FF F0 00 00 0F FF 00 00 00'
 '00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FB 0F F0 FF BF BB F0 FF 0F FF FF FF FF 00'
 '00 0F FF FF FF FF FF FF FF F0 00 00 00 0F FF FF'
 'FF FF FF 00 00 00 00 00 00 00 00 FF F0 00 00 00'
 '00 00 00 00 FF FF 00 00 00 00 00 00 00 FF FF F0'
 '00 00 00 00 00 00 00 FF FF 00 00 00 00 00 00 00'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF F0'
 'FF 0F F0 F0 FF 0F FF FF FF FF FF 00 00 0F FF FF'
 'FF FF FF FF FF F0 00 00 00 0F FF FF FF FF FF 00'
 '00 00 00 00 00 00 00 FF F0 00 00 00 00 00 00 0B'
 'FF FF F0 00 00 00 00 00 0F FF FF F0 00 00 00 00'
 '00 00 00 FF FF 00 00 00 00 00 00 00 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF 0F 0F FF 00'
 '0F F0 FF FF FF FF FF 00 00 0F FF FF FF FF FF FF'
 'FF F0 00 00 00 0F FF FF FF FF FF 00 00 00 00 00'
 '00 00 00 FF 00 00 00 00 00 00 00 FF FF FF FF F0'
 '00 00 00 0B FF FF FF F0 00 00 00 00 00 00 FF FF'
 'FF 00 00 00 00 00 00 00 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF F0 F0 FF 00 00 F0 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 0F FF 0F F0 F0 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF F0 FF 0F FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF F0 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF F0 0F'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF F0 00 00 FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF F0 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF F0'
 '00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF F0 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 10 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 10 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 1F 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 1F 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 1F 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 1F 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 1F 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 1F 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 10 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 1F 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00'
}


IDD_DIALOG1 DIALOG 0, 0, 240, 120
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "About"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 100, 50, 14
 CONTROL IDI_ICON1, 1, "STATIC", SS_ICON | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE, 56, 9, 119, 32
 CONTROL "Frame1", IDC_STATICFRAME1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 44, 232, 50
 CONTROL "Biomorphs evolution program", IDC_STATICTEXT1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 12, 48, 216, 9
 CONTROL "Written by Simon Mitchell (96878291)", IDC_STATICTEXT2, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 64, 224, 9
 CONTROL "Major Projects, 1998 - La Trobe University, Bendigo.", IDC_STATICTEXT3, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 78, 224, 9
}

IDD_DIALOG2 DIALOG 0, 0, 415, 233
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Editing parent"
FONT 10, "Times New Roman"
{
}

IDD_STATISTICS DIALOG 0, 0, 215, 177
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Total gene mutations"
FONT 12, "Times New Roman"
{
}

IDD_GENEVALUES DIALOG 0, 0, 156, 165
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Gene values"
FONT 12, "MS Sans Serif"
{
}

IDD_OFFSPRING DIALOG 0, 0, 191, 180
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Offspring selection count"
FONT 8, "MS Sans Serif"
{
}







#endif             // RC invoked
